[Desktop Entry]
Name=svahost
GenericName=Remote Desktop
Comment=Remote Desktop
Exec=svahost %u
Icon=svahost
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;linux;dart;rust;remote-control;p2p;teamviewer;rust-lang;rdp;remote-desktop;vnc;
Actions=new-window;
StartupWMClass=svahost

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=svahost %u
